@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* ===== Colors ===== */
  --purple-700: hsl(257, 40%, 49%);
  --magenta-400: hsl(300, 69%, 71%);

  /* ===== Font Families ===== */
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  /* ===== Font Weights ===== */
  --fw-regular: 400;
  --fw-semibold: 600;

  /* ===== Line Heights ===== */
  --lh-125: 1.25;
  --lh-150: 1.5;

  /* ===== Spacing ===== */
  --spacing-0: 0px;
  --spacing-100: 0.8rem; /* 8px */
  --spacing-200: 1.6rem; /* 16px */
  --spacing-300: 2.4rem; /* 24px */
  --spacing-400: 3.2rem; /* 32px */
  --spacing-500: 4rem; /* 40px */
  --spacing-700: 5.6rem; /* 56px */
  --spacing-800: 6.4rem; /* 64px */

  /* ===== Text Presets ===== */

  /* Preset 1 — Poppins SemiBold 40px */
  --tp-1-font: var(--fw-semibold) 4rem / var(--lh-125) var(--font-poppins);
  --tp-1-ls: 0px;

  /* Preset 2 — Poppins SemiBold 24px */
  --tp-2-font: var(--fw-semibold) 2.4rem / var(--lh-125) var(--font-poppins);
  --tp-2-ls: 0px;

  /* Preset 3 — Poppins Regular 18px */
  --tp-3-font: var(--fw-regular) 1.8rem / var(--lh-150) var(--font-poppins);
  --tp-3-ls: 0px;

  /* Preset 4 — Open Sans Regular 18px */
  --tp-4-font: var(--fw-regular) 1.8rem / var(--lh-150) var(--font-open-sans);
  --tp-4-ls: 0px;

  /* Preset 5 — Open Sans Regular 16px */
  --tp-5-font: var(--fw-regular) 1.6rem / var(--lh-150) var(--font-open-sans);
  --tp-5-ls: 0px;

  /* Preset 6 — Poppins Regular 12px */
  --tp-6-font: var(--fw-regular) 1.2rem / var(--lh-150) var(--font-poppins);
  --tp-6-ls: 0px;
}
html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: var(--purple-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
main {
  width: 30.4rem;
  margin: 4rem 3.5rem;
  position: relative;
}
.logo img {
  width: 12rem;
}
.logo {
  margin-bottom: var(--spacing-800);
}
.illustration {
  margin-bottom: var(--spacing-700);
}
.illustration img {
  width: 100%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.text-content h1 {
  font: var(--tp-2-font);
}
.text-content p {
  font: var(--tp-5-font);
}
button {
  color: var(--purple-700);
  border-radius: 2rem;
  border-style: none;
  background: white;
  font: var(--tp-6-font);
  width: 20rem;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.269);
  cursor: pointer;
}
button:hover {
  background: var(--magenta-400);
  color: white;
}
.social-media {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  gap: var(--spacing-200);
}
.social-media a {
  text-decoration: none;
}
.social-media i {
  color: white;
  font-size: 2rem;
  border: 1px solid white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  main {
    width: 60.8rem;
  }
  .illustration {
    margin-bottom: var(--spacing-500);
  }
  .text-content h1 {
    font: var(--tp-1-font); /* Larger font for tablet/desktop */
  }
  .text-content p {
    font: var(--tp-4-font);
  }
  button {
    width: 20rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    font: var(--tp-3-font);
  }
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
    width: 1272px;
  }
  .logo {
    width: 20rem;
    margin-bottom: 104px;
  }
  .logo img {
    width: 100%;
  }
  .illustration {
    margin-bottom: 0;
  }
  .illustration img {
    width: 69.6rem;
  }
  .card {
    height: 49.3rem;
    display: flex;
    gap: 5.6rem;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .text-content {
    text-align: left;
  }
  button {
    margin: 0;
  }
  .social-media {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.4rem;
  }
}
