/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* ===== Colors ===== */
  --purple-700: hsl(257, 40%, 49%);
  --magenta-400: hsl(300, 69%, 71%);

  /* ===== Font Families ===== */
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  /* ===== Font Weights ===== */
  --fw-regular: 400;
  --fw-semibold: 600;

  /* ===== Line Heights ===== */
  --lh-125: 1.25;
  --lh-150: 1.5;

  /* ===== Spacing ===== */
  --spacing-0: 0px;
  --spacing-100: 0.8rem; /* 8px */
  --spacing-200: 1.6rem; /* 16px */
  --spacing-300: 2.4rem; /* 24px */
  --spacing-400: 3.2rem; /* 32px */
  --spacing-500: 4rem; /* 40px */
  --spacing-700: 5.6rem; /* 56px */
  --spacing-800: 6.4rem; /* 64px */

  /* ===== Text Presets ===== */

  /* Preset 1 — Poppins SemiBold 40px */
  --tp-1-font: var(--fw-semibold) 4rem / var(--lh-125) var(--font-poppins);
  --tp-1-ls: 0px;

  /* Preset 2 — Poppins SemiBold 24px */
  --tp-2-font: var(--fw-semibold) 2.4rem / var(--lh-125) var(--font-poppins);
  --tp-2-ls: 0px;

  /* Preset 3 — Poppins Regular 18px */
  --tp-3-font: var(--fw-regular) 1.8rem / var(--lh-150) var(--font-poppins);
  --tp-3-ls: 0px;

  /* Preset 4 — Open Sans Regular 18px */
  --tp-4-font: var(--fw-regular) 1.8rem / var(--lh-150) var(--font-open-sans);
  --tp-4-ls: 0px;

  /* Preset 5 — Open Sans Regular 16px */
  --tp-5-font: var(--fw-regular) 1.6rem / var(--lh-150) var(--font-open-sans);
  --tp-5-ls: 0px;

  /* Preset 6 — Poppins Regular 12px */
  --tp-6-font: var(--fw-regular) 1.2rem / var(--lh-150) var(--font-poppins);
  --tp-6-ls: 0px;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  background: var(--purple-700);
  background-image: url(images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  padding-inline: 3.6rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header {
  margin-bottom: var(--spacing-800);
  margin-top: var(--spacing-500);
  align-self: flex-start;
}
header img {
  width: 12rem;
}
.card {
  margin-inline: auto;
}
.illustration {
  margin-bottom: var(--spacing-700);
}
.illustration img {
  width: 100%;
}

.text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.text-content h1 {
  font: var(--tp-2-font);
}
.text-content p {
  font: var(--tp-5-font);
}
.hero-content {
  text-align: center;
}
.register {
  display: inline-block;
  margin-top: var(--spacing-400);
  padding: 1.1rem 7.5rem;
  border-radius: 2rem;
  color: var(--purple-700);
  border-radius: 2rem;
  background: white;
  font: var(--tp-6-font);
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.269);
  cursor: pointer;
}
.register:hover {
  background: var(--magenta-400);
  color: white;
}
.social-media {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
.social-media a {
  margin-inline: var(--spacing-100);
  font-size: 15px;
}
.social-media i {
  color: white;
  border: 1px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.social-media a:hover i {
  color: var(--magenta-400);
  border-color: var(--magenta-400);
}

@media (min-width: 480px) {
  .illustration {
    margin-bottom: var(--spacing-500);
  }
  .text-content {
    gap: var(--spacing-300);
  }
  .text-content h1 {
    font: var(--tp-1-font);
  }
  .text-content p {
    font: var(--tp-4-font);
  }
  .register {
    font: var(--tp-3-font);
    padding: 14.5px 63px;
    border-radius: 2.8rem;
    margin-top: var(--spacing-500);
  }
  .social-media a {
    font-size: 24px;
  }
  .social-media a i {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url(images/bg-desktop.svg);
    padding-inline: var(--spacing-700);
  }
  header {
    width: 20rem;
  }
  header img {
    width: 100%;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-700);
  }
  .illustration {
    grid-column: 1/2;
  }
  .hero-content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .social-media {
    text-align: right;
  }
}
